@use '../custom' as *;

/* Info Section */
.info {
    .svg-inline--fa {
        margin-right: 15px;
        color: lighten($color, 30%);
        &.fa-envelope-o {
            font-size: 14px;
        }
    }
    ul {
        margin-bottom: 0;
    }
    
    li {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    a,span {
        margin-left: 20px;
    }
    
}