@use '../custom' as *;

/* Education section */
.education {
    .item {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
        .title {
            font-size: 16px;
            margin-top: 0;
        }
        .university {
            font-family: "Lato", arial, sans-serif;
            font-size: 13px;
            color: $grey;
            font-weight: 600;
            padding-left: 25px;
            .year {
                color: lighten($color, 20%);
                font-weight: 500;
            }
        }
    }
}