@use '../custom' as *;

/* Work Section */
.experience {
    .item {
        margin-bottom: 30px;
        .title {
            font-size: 16px;
            margin-top: 0;
            margin-bottom: 5px;
            line-height: 1.5;
            
            .place {
                color: $grey;
                font-weight: normal; 
                a {
                    color: $grey;
                    &:hover {
                        color: darken($grey, 20%);
                    }
                }
            }
            .year {
                color: $grey;
                font-weight: normal;
            }
        }        
    }

}