@use '../custom' as *;

/* Language Section */
.languages {
    .item {
        margin-bottom: 15px;
        .title {
            color: $color;
        }
        .level {
            color: $grey;
        }
        &:last-child {
            margin-bottom: 0;
        }
        .svg-inline--fa {
            color: lighten($color-2, 20%);
        }
    }
}