@use '../custom' as *;

/* Projects Section */
.projects {
    .item {
        margin-bottom: 30px;
        .title {
            
            font-size: 16px;
            margin-top: 0; 
            margin-bottom:5px;
            line-height: 1.5;
            a {
                color: $color;
                &:hover {
                    color: darken($color, 10%);
                }
            }
        }
        
        
    }
}