@use '../custom' as *;

/* Sections */

.section {
    margin-bottom: 30px;
    
    .section-inner {
        background: #fff;
        padding: 30px;
    }
    .heading {
        margin-top: 0;
        margin-bottom: 30px;
        color: darken($color, 15%);
        font-size: 24px;
    }
    .content {
        .more-link {
            .svg-inline--fa {
                margin-right: 5px;
                font-size: 14px;
                position: relative;
                top: -2px;
            }
        }
    }
}
