@use '../custom' as *;

/* Skills Section */
.skills {
    .intro {
        margin-bottom: 30px;
    }
    .skillset {

        .item {
            margin-bottom: 30px;
        }
        .level-title {
            font-size: 16px;
            position: relative;
            margin-top: 0;
            margin-bottom: 10;
            .level-label {
                color: lighten($color, 30%);
                font-size: 14px;
                font-weight: 400;
                font-family: "Lato", arial, sans-serif;
                position: absolute;
                right: 0;
                top: 0;
            }
            
        }
        .level-bar {
            height: 15px;
            background: darken($smoky-white, 5%);
        }
        .level-bar-inner {
            height: 15px;
            background: lighten($color-2, 15%);
        }
    }
    .svg-inline--fa {
	    margin-right: 3px;
	    position: relative;
	    top: 0;
    }
    
}